Repository rupia/ojousaba-resourcepack, pull requests merged in 2023-04, with the labels that each got.

#8 入学式アイテム、アイコンの追加
  index.html
  pack/assets/minecraft/models/item/flint.json
  pack/assets/minecraft/models/item/ojousaba/coin_unique.json
  pack/assets/minecraft/models/item/ojousaba/coin_unique.mng
  pack/assets/minecraft/models/item/ojousaba/icon_install.json
  pack/assets/minecraft/models/item/ojousaba/icon_install.mng
  pack/assets/minecraft/models/item/ojousaba/nyuugakushiki2023/bag_sc.json
  pack/assets/minecraft/models/item/ojousaba/nyuugakushiki2023/bag_sc.mng
  pack/assets/minecraft/models/item/paper.json
  pack/assets/minecraft/textures/item/ojousaba/coin_unique.png
  pack/assets/minecraft/textures/item/ojousaba/icon_install.png
  pack/assets/minecraft/textures/item/ojousaba/nyuugakushiki2023/bag_sc.png
  pack/assets/minecraft/textures/item/ojousaba/nyuugakushiki2023/bag_sc_deco.png
  site/result.json
Labels: documentation, feature, site, pack, mc-model, mc-texture

#9 初心者マークの割当CMD割当変更(flint/2000 > rabbit_foot/2000)とDisplay修正
  pack/assets/minecraft/models/item/flint.json
  pack/assets/minecraft/models/item/ojousaba/shoshinshamark.json
  pack/assets/minecraft/models/item/rabbit_foot.json
Labels: bug, pack, mc-model

#10 リストの更新(初心者マーク)
  index.html
  site/result.json
Labels: bug, documentation, minor, site

#11 寿命チケットの追加
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100.json
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100mil_1.json
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100mil_2.json
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100mil_3.json
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100tho_1.json
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100tho_2.json
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100tho_3.json
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_1bil.json
  pack/assets/minecraft/models/item/paper.json
  pack/assets/minecraft/textures/item/ojousaba/money_tiket/mt_100.png
  pack/assets/minecraft/textures/item/ojousaba/money_tiket/mt_100mil.png
  pack/assets/minecraft/textures/item/ojousaba/money_tiket/mt_100tho.png
  pack/assets/minecraft/textures/item/ojousaba/money_tiket/mt_1bil.png
  pack/assets/minecraft/textures/item/ojousaba/money_tiket/shine.png
  pack/assets/minecraft/textures/item/ojousaba/money_tiket/shine.png.mcmeta
  pack/assets/minecraft/textures/item/ojousaba/money_tiket/shine_2.png
  pack/assets/minecraft/textures/item/ojousaba/money_tiket/shine_2.png.mcmeta
Labels: minor, feature, pack, mc-model, mc-texture

#12 金のSMARTPYONE(flint/2019)の追加
  pack/assets/minecraft/models/item/flint.json
  pack/assets/minecraft/models/item/ojousaba/smartpyone/gold.json
  pack/assets/minecraft/models/item/ojousaba/smartpyone/gold.mng
  pack/assets/minecraft/textures/item/ojousaba/smartpyone/gold1.png
  pack/assets/minecraft/textures/item/ojousaba/smartpyone/gold1.png.mcmeta
  pack/assets/minecraft/textures/item/ojousaba/smartpyone/gold2.png
  pack/assets/minecraft/textures/item/ojousaba/smartpyone/gold2.png.mcmeta
  pack/assets/minecraft/textures/item/ojousaba/smartpyone/nyuugakushiki2.png
Labels: minor, feature, pack, mc-model, mc-texture

#13 マネーチケットと金のSMARTPYONEの追加
  index.html
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100.mng
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100mil_1.mng
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100mil_2.mng
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100mil_3.mng
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100tho_1.mng
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100tho_2.mng
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_100tho_3.mng
  pack/assets/minecraft/models/item/ojousaba/money_tiket/mt_1bil.mng
  site/result.json
Labels: documentation, site, pack

#15 ランドセルのアイテム割当てとDisplayの修正
  pack/assets/minecraft/models/item/feather.json
  pack/assets/minecraft/models/item/flint.json
  pack/assets/minecraft/models/item/ojousaba/nyuugakushiki2023/bag_sc.json
Labels: bug, patch, pack, mc-model

#16 リストの更新
  index.html
  site/result.json
Labels: documentation, patch, site

#18 ブラックボックスのテクスチャの変更
  pack/assets/minecraft/models/item/ojousaba/black_box.json
  pack/assets/minecraft/textures/item/ojousaba/black_box.png
Labels: bug, patch, pack, mc-model, mc-texture

#19 ブラックボックスのサムネ更新
  pack/assets/minecraft/models/item/ojousaba/black_box.mng
Labels: patch, pack

#21 カジノコインの追加
  pack/assets/minecraft/models/item/ojousaba/cc/cc_100.json
  pack/assets/minecraft/models/item/ojousaba/cc/cc_100mil.json
  pack/assets/minecraft/models/item/ojousaba/cc/cc_100tho.json
  pack/assets/minecraft/models/item/ojousaba/cc/cc_10bil.json
  pack/assets/minecraft/models/item/ojousaba/cc/cc_10mil.json
  pack/assets/minecraft/models/item/ojousaba/cc/cc_10tho.json
  pack/assets/minecraft/models/item/ojousaba/cc/cc_1bil.json
  pack/assets/minecraft/models/item/ojousaba/cc/cc_1mil.json
  pack/assets/minecraft/models/item/ojousaba/cc/cc_1tho.json
  pack/assets/minecraft/models/item/ojousaba/cc/cc_parent.json
  pack/assets/minecraft/models/item/paper.json
  pack/assets/minecraft/textures/item/ojousaba/cc/cc_100.png
  pack/assets/minecraft/textures/item/ojousaba/cc/cc_100mil.png
  pack/assets/minecraft/textures/item/ojousaba/cc/cc_100tho.png
  pack/assets/minecraft/textures/item/ojousaba/cc/cc_10bil.png
  pack/assets/minecraft/textures/item/ojousaba/cc/cc_10mil.png
  pack/assets/minecraft/textures/item/ojousaba/cc/cc_10tho.png
  pack/assets/minecraft/textures/item/ojousaba/cc/cc_1bil.png
  pack/assets/minecraft/textures/item/ojousaba/cc/cc_1mil.png
  pack/assets/minecraft/textures/item/ojousaba/cc/cc_1tho.png
Labels: minor, feature, pack, mc-model, mc-texture
